# Running a Test Suite

## Test Suite Run report

Once running your API Test Suite you will be directed to the Test Suite Run page. The Test Suite Run report page shows the list of executed flows as defined in the Test Suite. The Test Flows table shows **each flow's description, number of its requests, duration and status**. Use the table filter to filter the flows by their status.

In order to better analyze the results of the tests, the configuration of the Test Suite can be found right above the Test Flows table.

![](../.gitbook/assets/screen-shot-2021-02-01-at-13.26.03.png)

Once you've run the Test Suite, you can re-run it by pressing the "RE-RUN" button as many times as you wish.

## Flow Status

A flow run can have the following statuses : _Pending_, _Running_, _Passed_ or _Failed_.   
NOTE: In cases where a flow fails - the whole Test Suite Run will fail.

You can drill down to a specific flow and review its requests report by clicking on the relevant flow name in the table. Once clicked, you'll be directed to the Flow Report Page. 

![Test Suite Flow run report page](../.gitbook/assets/screen-shot-2019-09-23-at-12.05.58-pm.png)



