<footer style="text-align: center; padding-top: 20px; padding-bottom: 20px; font-size: 16px; background-color: rgb(33, 33, 33); color: rgba(255, 255, 255, 0.54);">
	<div>
		Still confused? Contact us via <a style="color: #00BCD4" href="mailto:support@loadmill.com">support@loadmill.com</a> or on <a style="color: #00BCD4" href="https://twitter.com/LoadmillTeam">Twitter</a>
	</div>

	<div style="margin-top: 6px;">
		If you think something is wrong or missing from the docs please open an issue in <a style="color: #00BCD4" target="_blank" href="https://github.com/loadmill/loadmill-docs/issues">GitHub</a>
	</div>
</footer>