<footer class="book-footer">
	<div>
		Still Confused? Contact us via <a href="mailto:support@loadmill.com">support@loadmill.com</a> or on <a target="_blank" href="https://twitter.com/messages/compose?recipient_id=884723428544139268"
  class="twitter-dm-button" data-screen-name="@LoadmillTeam">Twitter</a>
	</div>
	<div style="margin-top: 6px;">
		Something Wrong / Missing? Open an issue in <a target="_blank" href="https://github.com/loadmill/loadmill-docs/issues">GitHub</a>
	</div>
</footer>

<script>
    window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function(f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));
</script>